.centerDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#playlist{
	text-align: center;
}

a{
	color: #333;
	text-decoration: none;
}
.active a{
	color:#fff;
}